body table tbody tr:hover,body tr:nth-of-type(even),body tr:nth-of-type(odd){background-color: transparent;}
.vcard{text-align:center;}
.vcard input,.vcard texarea{border:none;width: 500px;}
.vcard input.button{width:auto;}
.vcard h3 { 
	background:url(/main/images/aile/a.jpg) repeat #ddd;
	width:450px; 
	top:-44px; 
	height: 40px;
	line-height:40px;
	margin: 0px auto;
	position: relative;
	-o-text-overflow: ellipsis;
	-moz-binding: url( '/main/css/bindings.xml#ellipsis' );
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.vcard img.photo{
	background-color: #2191C0;
	border-width: 45px;
	-webkit-border-image: url(/main/images/aile/gold-frame.gif) 45 repeat;
	-moz-border-image: url(/main/images/aile/gold-frame.gif) 45 repeat;
	border-image: url(/main/images/aile/gold-frame.gif) 45 repeat;
	width:540px;
	margin-top:10px;
}
.anaglyphic{
	color: rgba(0,168,255,0.5);
	text-shadow: 4px 4px 0 rgba(255,0,180,0.5);
	font-size:45px;
}
#disqus_thread a{
	-webkit-transition: none 0s;
	-moz-transition: none 0s;
	-o-transition: none 0s;
	transition: none 0s;
}
/*Twitter Ýzleme*/
#loadt{margin-top:-50px; left:190px;}
#tweets {background:#F0F0F0; border:groove; height:295px; overflow:auto; }				
/* flickr FOTO BAR*/
.nextArrow { background: url(/main/images/sprite-main.png) no-repeat top left; background-position: 0 -1869px; width: 7px; height: 13px; text-indent:-99999px; } 
.prevArrow { background: url(/main/images/sprite-main.png) no-repeat top left; background-position: -179px 0;  width: 7px; height: 13px; text-indent:-99999px; } 
.flickr_photobar{	font-size:11px;}
.flickr_photobar a{	outline:none;}
.flickr_photobar a:hover,.flickr_photobar a:focus{	outline:none;}
.photobar{
	position:fixed;
	bottom:-96px;
	left:0px;
	width:100%;
	height:95px;
	z-index:101;
}
.thumbs{
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:95px;
	border-top:1px solid #222;
	background-color:#3D3D3D;
}
.thumbs a.prev,.thumbs a.next{	position:absolute;	top:40px;	z-index:1;}
.thumbs a.prev:hover,.thumbs a.next:hover,.thumbs a.prev:focus,.thumbs a.next:focus{	background-color:#404040;}
.thumbs a.prev{	left:10px;}
.thumbs a.next{	right:10px;}
.thumbs .thumbsWrapper{
	height:95px;
	left:22px;
	right:22px;
	overflow:hidden;
	position:absolute;
	top:0;
}
.thumbs ul{
	margin:0px;
	padding:0px;
	height:90px;
	overflow:hidden;
	position:absolute;
	left:0px;
	top:0px;
}
.ie7 .thumbs ul li{display:inline;}
.thumbs ul li a{
	position:relative;
	float:left;
	margin:6px 2px 0px 2px;
	color:#fff;
	text-shadow:1px 1px 1px #000;
	text-decoration:none;
	height:81px;
	width:81px;
}
.albums ul li a img{
	border:3px solid #111111;
	-moz-box-shadow:1px 1px 3px #000;
	-webkit-box-shadow:1px 1px 3px #000;
	box-shadow:1px 1px 3px #000;
}
.images ul li a img{
	border:3px solid #f9f9f9;
	-moz-box-shadow:1px 1px 3px #000;
	-webkit-box-shadow:1px 1px 3px #000;
	box-shadow:1px 1px 3px #000;
}
.thumbs a span{
	position:absolute;
	bottom:3px;
	left:3px;
	right:3px;
	background-color:#333;
	font-size:9px;
	padding:2px 2px;
	border-top:1px solid #111;
    display:none;	
	text-align:center;
	overflow:hidden;
	-o-text-overflow:ellipsis;
	-ms-text-overflow:ellipsis;
	text-overflow:ellipsis;
	max-height:70px;
	-webkit-opacity : 0.8;
	opacity:0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);	
	min-height: 20px;
}
.thumbs a:hover span,.thumbs a:focus span{	display:block;}
span.images_toggle{
	position:absolute;
	top:-26px;
	right:20px;
	background-color:#3D3D3D;
	border:1px solid #222;
	color:#EEEEEE;
	font-size:10px;
	padding:0px 6px 0px 12px;
	height:24px;
	line-height:24px;
	text-transform:uppercase;
	text-shadow:1px 1px 2px #000;
	-moz-box-shadow:0px -1px 3px #ccc;
	-webkit-box-shadow:0px -1px 3px #ccc;
	box-shadow:0px -1px 3px #ccc;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}
span.images_toggle a{
	color: white;
	font-weight: normal;
	background-color:#222;
	border:1px solid #000;
	line-height:16px;
	padding:3px 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	float:right;
}
span.images_toggle a:hover,span.images_toggle a:focus{	background-color:#000;}
.photobar a.toggle{
	position:absolute;
	top:-26px;
	left:100px;
	width:250px;
	background-color:#404040;
	border:1px solid #222;
	color:#EEEEEE;
	font-size:10px;
	padding:0px 36px 0px 36px;
	line-height:24px;
	height:24px;
	text-transform:uppercase;
	text-shadow:1px 1px 2px #000;
	-moz-box-shadow:0px -1px 3px #ccc;
	-webkit-box-shadow:0px -1px 3px #ccc;
	box-shadow:0px -1px 3px #ccc;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}
span.loading_small{
	background:transparent url(/main/images/aile/loading_small.gif) no-repeat center center;
	position:absolute;
	right:10px;
	top:0px;
	width:16px;
	height:24px;
}
.photobar a.toggle:hover,.photobar a.toggle:focus{	background-color:#111;}
.photobar .images{	z-index:1;}
.flickr_photobar .flickr_overlay{
	z-index:102;
	background-color:#000;
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	-webkit-opacity : 0.9;
	opacity:0.9;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}
.photopreview{
	text-align:center;
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:103;
}
.photopreview .preview_wrapper{
	position:relative;
	text-align:center;
	margin:0 auto;
}
.photopreview .preview{
	display:table-cell;
	text-align:center;
	width:0px;
	height:0px;
	padding-top:25px;
	vertical-align:middle;
}
.photopreview .preview img{
	vertical-align:middle;
	background-color:#555;
	padding:1px;
	border:8px solid #f9f9f9;
	-moz-box-shadow:1px 1px 5px #222;
	-webkit-box-shadow:1px 1px 5px #222;
	box-shadow:1px 1px 5px #222;
}
.photopreview .preview span{
	background-color:#111111;
	color:#FFFFFF;
	height:20px;
	left:0;
	line-height:20px;
	position:fixed;
	text-align:center;
	text-shadow:1px 1px 1px #000000;
	top:0;
	width:100%;
	-moz-box-shadow:1px 1px 5px #000000;
	-webkit-box-shadow:1px 1px 5px #000000;
	box-shadow:1px 1px 5px #000000;
}
.loading{
	width:50px;
	height:50px;
	position:fixed;
	top:50%;
	left:50%;
	z-index:104;
	margin:-25px 0px 0px -25px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	background:#000 url(/main/images/aile/loading.gif) no-repeat center center;
	-webkit-opacity : 0.8;
	opacity:0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);	
}
.close{
	position:fixed;
	top:3px;
	z-index:104;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;	

}
.photopreview a.img_next,.photopreview a.img_prev{
	position:fixed;
	top:50%;
	height:60px;
	width:50px;
	margin-top:-30px;
	background-color:#000;
}
.photopreview a.img_next{
	background-position: 25px -1847px;
	-moz-border-radius:20px 0px 0px 20px;
	-webkit-border-top-left-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	right:0px;
}
.photopreview a.img_prev{
	background-position: -159px 25px;
	-moz-border-radius:0px 20px 20px 0px;
	-webkit-border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	left:0px;
}
/* Harita */
#amwp{float: left; margin: 10px 10px 10px 0px;}
#ammc,#pano { height: 400px;}
/* Select Box */
.fancySelect{height:18px;display:inline-block;min-width:200px;position:relative;top:5px;}
.fancySelect .selectBox{
	position:absolute;
	height:100%;
	width:100%;
	text-align:center;
	text-shadow:1px 1px 0 #EEEEEE;
	color:#666666;
	background:url('/main/images/aile/select_slice.png') repeat-x #ddd;
	background-image:url('/main/images/aile/select_slice.png'),url('/main/images/aile/select_slice.png'),url('/main/images/aile/select_slice.png'),url('/main/images/aile/select_slice.png');
	background-position:0 -144px, right -212px, 50% -76px, 0 -8px;
	background-repeat: no-repeat, no-repeat, no-repeat, repeat-x;
	cursor:pointer;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.fancySelect .selectBox:hover,.fancySelect .selectBox:focus,.fancySelect .selectBox.expanded{
	background-position:0 -178px, right -246px, 50% -110px, 0 -42px;
	color:#2c5667;
	text-shadow:1px 1px 0 #9bc2d0;
}
.fancySelect .dropDown{
	position:absolute;
	top:18px;
	left:0; 
	width:100%;
	border:1px solid #32333b;
	border-width:0 1px 1px;
	list-style:none;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-moz-box-shadow:0 0 4px #111;
	-webkit-box-shadow:0 0 4px #111;
	box-shadow:0 0 4px #111;
}
.fancySelect li{
	height:85px;
	cursor:pointer;
	position:relative;
	background:url('/main/images/aile/dropdown_slice.png') repeat-x #222;
	background-image:url('/main/images/aile/dropdown_slice.png'),url('/main/images/aile/dropdown_slice.png'),url('/main/images/aile/dropdown_slice.png');
	background-position: 50% -171px, 0 -85px, 0 0;
	background-repeat: no-repeat, no-repeat, repeat-x;
}
.fancySelect li:hover,.fancySelect li:focus{background-position: 50% -256px, 0 -85px, 0 0;}
.fancySelect li span{
	color: white;
	left: 80px;
	position: absolute;
	top: 10px;
}
.fancySelect li i{
	color:#999999;
	display:block;
	font-size:12px;
}
.fancySelect li img{
	left:9px;
	position:absolute;
	top:13px;
}
