h1 {
	height: 100px;
	margin: auto;
	text-align: center;
	width: 100%;
	font-size:30px; 
	color: white;
	-webkit-text-stroke: 1px black;   
	-webkit-text-fill-color: white;
	text-shadow:-1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}
h1 a{
	color: white;
	text-shadow: 3px 3px 0px #000, 4px 4px 0px #707070;
	text-decoration:none;
	font-size:30px; 
}
h2 
{
	font-size:30px;
	color: white;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #2191C0, 0 0 35px #2191C0, 0 0 40px #2191C0, 0 0 50px #2191C0, 0 0 75px #2191C0;
}
h6{
	position:absolute;
	top:10px;
	left:400px;
	font: bold 20px/20px Helvetica, Arial, Sans-serif;
	letter-spacing: -1px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
	color: #fff;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	text-align: center;
}
.anaglyphic{
	color: rgba(0,168,255,0.5);
	text-shadow: 4px 4px 0 rgba(255,0,180,0.5);
	font-size:45px;
}
.fire{
	color: #c80000;
	text-shadow: 0 0 4px #fefcc9, 2px -2px 5px #feec85, -4px -4px 7px #ffae34, 4px -7px 9px #ec760c, -4px -10px 10px #cd4606, 0 -14px 35px #973716, 2px -15px 14px #451b0e;
	font-size:15px;
}
.boardgame{
	color: #fff;
	text-shadow: 5px 5px 0 #ffd217, 10px 10px 0 #5ac7ff, 15px 15px 0 #ffd217, 20px 20px 0 #5ac7ff;

}
