* { 	margin: 0; 	padding: 0; }
body	{
	background-color: #f0f0f0; 
	color: #00AA00; 
	font-family:courier;
	background-image: url(../images/login/arrow_left.png),
	        url(../images/login/arrow_right.png),
	        url(../images/login/arrow_up.png),
	        url(../images/login/arrow_down.png);
	 
	background-position: 70% 50%, 90% 50%, 80% 30%, 80% 70%;
	background-repeat:no-repeat;
}
section {text-align:center; }
body, html {	height:100%;	width:100%; }
.clear { clear: both; }
.sakla{ display: none !important; visibility:hidden !important; }
.form{ width: 406px;}
legend{	color: #00AA00;}
label	{ 
	width: 115px; 
	text-align: right; 
	float: left; 
	margin: 0 10px 0 0; 
	padding: 9px 0 0 0; 
	font-size: 16px; 
}
input	{ 	padding: 4px; }
.sign_with_twitter{ background: url(/main/images/login/sprite.png) no-repeat top left;  background-position: 0 -686px; width: 151px; height: 24px; margin:auto;  } 
.rounded {	-moz-border-radius: 6px;	-webkit-border-radius: 6px;	border-radius: 6px;}
#idBox {
	height: 146px;
	margin: 20px 20px 0 20px;
	-moz-box-shadow: 0 0 5px #000 inset;
	-moz-transition:all 0.2s ease-in;
	-webkit-box-shadow: 0 0 5px #000;
	-webkit-transition:all 0.2s ease-in;
}
#pinBox{ padding:20px 20px 0; }
#idBox.drophover {	border-color: #888;	-moz-box-shadow: 0 0 10px #000 inset;	-webkit-box-shadow: 0 0 10px #000;	}
#idBoxBgWrapper {	height:0;	overflow: hidden;}
.idCard {
	background: #e0ecf6;
	padding: 10px;
	height: 124px;
	position: relative;
	border:thin solid #CCC;
}
.idCardLeft {	height: 126px;	width:105px;	float:left;}
.idCardRight ul {list-style: none;}
.idCardRight li {margin-bottom: 5px;}
.idCardRight li span {	color:#888;}
#recaptcha_widget_div {padding:10px; }
#recaptcha_area{margin:auto;}
/* ------------------------------
Sunucu Kontrol Sayfasi
------------------------------ */
.notError { 	color: #000; 	background-color: #69FF4F;	word-wrap: break-word; }
.error,#uyari { 	color: #FF9FA3; 	word-wrap: break-word; }
.verification_table{	margin-left: auto;	margin-right: auto;}
.verification_type{	border:2px ridge #00457b;}
/* ------------------------------
Sayfanın Sağındaki Menu
------------------------------ */
.rp_list {
	position:fixed;
	right:-250px;
	top:60px;
	margin:0;
	padding:0;
    z-index:6;
}
.ie7 .rp_list {
	margin-right:20px;
}
.rp_list ul{
	margin:0;
	padding:0;
	list-style:none;
}
.rp_list ul li{
	width: 240px;
	margin-bottom:5px;
	display:none;
}	
.rp_list ul li .rp_div{
	behavior: url("/main/css/PIE.php");	
	display: block;
	font-size:30px;
	height:8px;
	line-height:7px;
	width: 240px;
	color:#000;
	text-decoration:none;
    text-align:center;
	padding:20px;
	-webkit-opacity : 0.7;
    opacity: 0.7;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);  
	border:5px solid #AADDFF;
    -moz-border-radius:10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius:10px;
    border-radius: 10px;
    background-clip: padding-box;
    -moz-background-clip: padding-box;
	-webkit-background-clip: padding-box; 
	background: url(/main/images/login/sprite.png) no-repeat top left;  
  	 background-color:#E7F2F9; 
}
.rp_list ul li .rp_div:hover{ background-color:#ADF;}
.sign_with_twitter{ background: url(/main/images/login/sprite.png) no-repeat top left;  background-position: 0 -686px; width: 151px; height: 24px; margin:auto;  } 
.rp_list .anaSayfaLI a div{ background-position: 0 -392px; }
.rp_list .muzikLI a div{ background-position: 0 -588px; }
.rp_list .kitapLI a  div{ background-position: 0 -490px; }
.rp_list .agacLI a div{ background-position: 0 -98px; }
.rp_list .ayarlarLI a div{ background-position: 0 -196px; }
.rp_list .yardimLI a div{ background-position: 0 0; }
.rp_list .filmLI a div{ background-position: 0 -294px; }
/*--------------------------------
Feed Back
---------------------------------*/
#feedback{
	background-color:#9db09f;
	width:310px;
	height:330px;
	position:fixed;
	bottom:0;
	right:120px;
	margin-bottom:-270px;
	z-index:10000;
}
#feedback .section{
	background:url('/main/images/login/bgf.png') repeat-x top left;
	border:1px solid #808f81;
	border-bottom:none;
	padding:10px 25px 25px;
}
#feedback .color{
	float:left;
	height:4px;
	width:20%;
	overflow:hidden;
}
#feedback .color-1{ background-color:#d3b112;}
#feedback .color-2{ background-color:#12b6d3;}
#feedback .color-3{ background-color:#8fd317;}
#feedback .color-4{ background-color:#ca57df;}
#feedback .color-5{ background-color:#8ecbe7;}
#feedback h3{
	height:38px;
	margin:5px 0 12px;
	cursor:pointer;
}
#feedback textarea{
	background-color:#fff;
	border:none;
	color:#666666;
	font:13px 'Lucida Sans',Arial,sans-serif;
	height:100px;
	padding:10px;
	width:236px;
	resize:none;
	outline:none;
	overflow:auto;
	-moz-box-shadow:4px 4px 0 #8a9b8c;
	-webkit-box-shadow:4px 4px 0 #8a9b8c;
	box-shadow:4px 4px 0 #8a9b8c;
}
#feedback .message{
	font-family:Corbel,Arial,sans-serif;
	color:#5a665b;
	text-shadow:1px 1px 0 #b3c2b5;
	margin-bottom:20px;
}
#feedback .arrow{
	background:url('/main/images/login/arrows.png') no-repeat;
	float:right;
	width:23px;
	height:18px;
	position:relative; 
	top:10px;
}
#feedback .arrow.down{ background-position:left top;}
#feedback h3:hover .down{ background-position:left bottom;}
#feedback .arrow.up{ background-position:right top;}
#feedback h3:hover .up{ background-position:right bottom;}
#feedback .response{
	font-size:21px;
	margin-top:70px;
	text-align:center;
	text-shadow:2px 2px 0 #889889;
	color:#FCFCFC;
	display:block;
}
/*------------------------------------*\
	BORDERS
\*------------------------------------*/
/* Create a series of empty pseudo-elements... */
html:before,html:after,body:before,body:after{
	content:"";
	background:#dad8bb;
	position:fixed;
	display:block;
	z-index:5;
}

/* ...and position them! */
html:before{
	height:10px;
	left:0;
	right:0;
	top:0;
}
html:after{
	width:10px;
	top:0;
	right:0;
	bottom:0;
}
body:before{
	height:10px;
	right:0;
	bottom:0;
	left:0;
}
body:after{
	width:10px;
	top:0;
	bottom:0;
	left:0;
}
/* ------------------------------
 Hata Sayfasi
 --------------------------------*/
.hataSayfa{text-align:center;	background:url('/main/images/login/bg.png') center center fixed no-repeat;	color:#eee; }
.hataSayfa h2 { font-size: 50px; margin:50px; }
.hataSayfa h3 { font-size: 30px; margin:30px; }
#rocket{
	width:275px;
	height:375px;
	background:url('/main/images/login/rocket.png') no-repeat;
	margin:140px auto 50px;
	position:relative;
}
.steam1,.steam2{
	position:absolute;
	bottom:78px;
	left:50px;
	width:80px;
	height:80px;
	background:url('/main/images/login/steam.png') no-repeat;
	-webkit-opacity : 0.8;
	opacity:0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);	
}
.steam2{	background-position:left bottom; }
.hataSayfa hgroup{	display:block;	margin:0 auto;	width:850px;	text-align:center;}
.hataSayfa #content {background:transparent; border:none;}
