/* ------------------------------
Reset
------------------------------*/
html,div, span, object, iframe, p, blockquote, pre,h1,h2,h3,h4,h5,h6,a,
abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,
b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
padding:0; margin:0;  border:0;  outline:0;  font-size:100%;  vertical-align:baseline;  background:transparent;}    
a { font-size: 12px; font-weight:bold; color: #0d1e5f; }
a:link { -webkit-tap-highlight-color: #995EFF; } 
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,progress,section,summary { display:block;}
body {  background-color: transparent; line-height:1;}
del { text-decoration: line-through; }
fieldset  {  border:0 none; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-align:center;}
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
html { -webkit-font-smoothing: antialiased; }
img,object,embed {max-width: 100%;} 
img::selection {background: transparent;}
img::-moz-selection {background: transparent;}
ins { background-color:#ff9; color:#000; text-decoration:none; }
input, select { vertical-align:middle; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
input[type="button"], input[type="submit"], button { cursor: pointer; }
ol { margin-left:30px; list-style-type: decimal; }
pre { padding: 15px; white-space: pre; white-space: pre-line; white-space: pre-wrap; word-wrap: break-word;}
small { font-size:85%; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
strong, th { font-weight: bold; }
table { border-collapse:collapse; border-spacing:0; width:100%;}
:focus {	outline: 1;}
@media only screen and (max-device-width: 480px) {
	html {-webkit-text-size-adjust: none}
	a {-webkit-tap-highlight-color: rgba(200,0,0,0.4);}
}
/* ------------------------------
Genel Stil
------------------------------ */
@font-face {
	font-family: 'OldSansBlackRegular';
	src: url('fonts/OldSansBlack.eot#') format('eot'), 
	     url('fonts/OldSansBlack.woff') format('woff'), 
	     url('fonts/OldSansBlack.ttf')  format('truetype'),
	     url('fonts/OldSansBlack.svg#OldSansBlack') format('svg');
	font-weight: normal;
	font-style: normal;
}
a:hover,a:focus  {
	text-shadow: 1px 1px 1px rgba(0,0,0,.4);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition:all 1s ease;
	transition:all 1s ease;
}
html\:abbr,abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
html\:abbr,abbr { cursor: help;}
blockquote, q { quotes:none; width:175px;}
q:before, q:after { content:''; content:none; }
blockquote p { margin: 0; text-indent: 1em; quotes: "\201c" "\201d"; }
blockquote p:first-of-type {text-indent: 0;}
blockquote p:before {content: open-quote;}
blockquote p:after {content: no-close-quote;}
blockquote p:last-of-type:after {content: close-quote;}
body {
	margin:0px;
	font-family:'Myriad Pro',sans-serif;
	font-size:13px;	
	background: url(../images/header_1px.jpg) repeat-x;
	orphans:2;
	text-rendering:optimizelegibility;
	width:100%;
	height:100%;
}
canvas { width:100%; }
fieldset img{ width:100%; }
form label{   
	width:125px; 
	float:left;  
	text-align:right;   
	margin-right:15px;    
	line-height:26px;    
	color:#666;    
	text-shadow:1px 1px 1px #fff;   
	font-weight:bold;
}
form p {margin:10px 0;}
html{ height:100%; width:100%;  max-width: 1500px; }
input:not([type="submit"]),select{ 
	font-size:15px;
	line-height:15px;
	height:22px;
	width:262px;
	padding:0;
	margin:0; 
	background: #fff;
}
select{height:auto;}
input[type="radio"],input[type="checkbox"]{height:auto;width:auto;}
input[type="search"]{-webkit-appearance:searchfield; padding:4px; height: 100%; width:90%;}
input:focus:invalid {  background-color: #c80000;}
legend{padding:10px; margin-left:10px;}
mark {  background: #c80000; color:#A1A1A1; text-shadow: none; font-style:italic; }
menu ul li { float:left; }
menu ul li ul li { float:none; }
p{ text-align:justify; }
progress{width:auto;}
textarea{
	border: 1px solid #888;  
	-moz-resize: vertical;
	-webkit-resize: vertical;
	resize: vertical;
	overflow: auto;
	-webkit-appearance: none;
	-moz-appearance: none;
	width:100%; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	padding:10px;
}
td { padding: 10px;}
th,tfoot tr td{ font-weight: 700;	font-size: 1em;	border-bottom: 1px solid #000;	padding: 5px; text-align:center;}
tfoot tr td{border-bottom:0;	border-top: 1px solid #000;}
table tbody tr{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition:all 1s ease;
	transition:all 1s ease;
}
table tbody tr:hover { background:#2191C0; }
tr:nth-of-type(odd){background-color: transparent;}
tr:nth-of-type(even) {background-color:#ADF;}
td, td img { vertical-align:middle; max-width:inherit;}
td img { width:100%; }
ul{ list-style:none; }
video { display: block; height:auto; width:100%; background: url(../images/sprite-main.png) no-repeat top left;  background-position: -179px -563px; }
[draggable] { -webkit-user-drag: element; }
[contenteditable]:hover,[contenteditable]:focus{background-color: #ADF;}
/*---------------
BAŞLIK
----------------*/
h1 {
	height: 100px;
	margin: auto;
	text-align: center;
	width: 100%;
	font-size:30px; 
	-webkit-text-stroke: 1px black;   
	-webkit-text-fill-color: white;
}
.no-textstroke h1 {color: white; text-shadow:-1px 0 0 #000000, 1px 0 0 #000000, 0 1px 0 #000000, 0 -1px 0 #000000;}
h1 a{
	color: white;
	text-shadow: 3px 3px 0px #000, 4px 4px 0px #707070;
	text-decoration:none;
	font-size:30px; 
}
h2 
{
	font-size:30px;
	color: white;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #2191C0, 0 0 35px #2191C0, 0 0 40px #2191C0, 0 0 50px #2191C0, 0 0 75px #2191C0;
}
h2 span { 
	position: relative; 
	 -webkit-transition: all 5s ease;
	-moz-transition: all 5s ease;
	-o-transition: all 5s ease;
	transition: all 5s ease;
}
.span-one h2 span { top: 0 !important; left: 0 !important; }
h6{
	font: bold 20px/20px Helvetica, Arial, Sans-serif;
	letter-spacing: -1px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
	color: #fff;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	text-align: center;
}
.fire{
	color: #c80000;
	text-shadow: 0 0 4px #fefcc9, 2px -2px 5px #feec85, -4px -4px 7px #ffae34, 4px -7px 9px #ec760c, -4px -10px 10px #cd4606, 0 -14px 35px #973716, 2px -15px 14px #451b0e;
	font-size:15px;
}
.boardgame{
	font-size: 30px;
	color: #fff;
	text-shadow: 5px 5px 0 #ffd217, 10px 10px 0 #5ac7ff, 15px 15px 0 #ffd217, 20px 20px 0 #5ac7ff;

}
/*---------------
MAIN
----------------*/
#container{min-width: 985px;}
#container > header {
	height:250px;
	margin-top:100px;
	position: relative;
	width: 100%;
	/*z-index:5;*/
}
#cnt {
	position: relative;
	width: 100%;
	margin:49px 0;
	overflow:hidden;
	background:#fff;
}
#lcnt {
	font-family:'OldSansBlackRegular',Arial, Helvetica, sans-serif;
	width:13%;
	float:left;
	position:relative;
	overflow:visible;
	margin-bottom: -99999px;
        padding-bottom: 99999px;
}
#ccnt {
	margin-left: 1%;
	width: 66%;
	min-height:1200px;
	height:auto;
	float:left;
	position:relative;
	margin-bottom: -99999px;
        padding-bottom: 99999px;
}
#rcnt {
	font-family:'IM Fell DW Pica',Arial, Helvetica, sans-serif;
	float:right;
	position:relative;	
	width:19%;
	overflow:visible; 
	margin-bottom: -99999px;
        padding-bottom: 99999px;
	margin-right:5px;
}
#rcnt summary{width: 101%;}
.lslink{text-align:right;}
/* Tarayıcılar */
#brow a div{float:right; background: url(../images/sprite-main.png) no-repeat top left; width: 32px; height: 32px; text-indent:-99999px; } 
#brow a #arora{background-position: 0 -701px;} 
#brow a #chrome{background-position: 0 -849px;} 
#brow a #chromium{background-position: 0 -931px;} 
#brow a #dooble{background-position: 0 -1013px;} 
#brow a #firefox{background-position: 0 -1293px;} 
#brow a #flock{background-position: 0 -1375px;} 
#brow a #ie{background-position: 0 -1655px;} 
#brow a #opera{background-position: 0 -1932px;} 
#brow a #safari{background-position: -179px -63px;} 
#brow a #seamonkey{background-position: -179px -145px;} 
.delic-tall,.addthis_toolbox{float:right; margin:0 0 10px 10px;}
#lcnt p{font-size:13px; text-align:right; }
#lcnt a,.rslink a {
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	color:#A1A1A1;
	text-decoration:none;
}
#lcnt a:hover,#lcnt a:focus,.rslink a:hover,.rslink a:focus  {color:#000;}
#lcnt summary{text-align:right;}
#lcnt iframe,#browser a div{float:right;}
.st_l, .st_r {padding:5px;}
.st_l {text-align:right;}
.rslink {text-align:left;}
.rslink a {display:block;}
/* Yardımcı Fonksiyonlar */
.daire{
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display: -moz-box;
	display: -webkit-box;
	display: box;
	-moz-box-orient: horizontal; /* the default, so not really necessary here */
	-webkit-box-orient: horizontal;
	box-orient: horizontal;
	-moz-box-pack: center;
	-moz-box-align: center;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	box-pack: center;
	box-align: center;
}
.mutlu::before {
	color: #797979;
	content: "☺";
	font-size: 21px;
	font-style: normal;
	left: 0;
	position: absolute;
	top: 8px;
	text-align: center;
	width: 21px;
}
.mutsuz::before {
	color: #797979;
	content: "☹";
	font-size: 21px;
	font-style: normal;
	left: 0;
	position: absolute;
	top: 8px;
	text-align: center;
	width: 21px;
}
.gradyan{
   font-size: 200px;
   font-family: sans-serif;
   position: relative;
   color: #a6a6a6;
   text-shadow: 0 -1px 0 white;
}
.gradyan::after {
   content: attr(data-text);
   position: absolute;
   left: 0;
   color: white;
   -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(40%, rgba(0,0,0,0)), to(rgba(0,0,0,0)) );
}
.radial{ 
	background: #2191C0;
	background-image:-moz-radial-gradient(center 45deg, circle closest-side, #2191C0 0%, #FFF 100%);
	background-image: -webkit-gradient(radial, 90 60, 0, 90 60, 160, from(#2191C0), to(#FFF));
}
.border{	
	border:2px solid #4297D7;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-o-border-radius:5px;
	border-radius: 5px;
	-moz-background-clip: border-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
.shadow{
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.4);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.4);
	box-shadow: 0px 0px 10px rgba(0,0,0,.4);
    	text-shadow:1px 1px 1px #F0F0F0;
	margin-right:2px;
}
.transition{
	-webkit-transition: all 1s ease 0.2s;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.op5{	
	opacity:0.5;	
	filter: alpha(opacity = 50);	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	-webkit-opacity : 0.5;	
}
.translate:hover img,.translate:focus img{
	-webkit-transform: translate(20px, 0px);
	-moz-transform: translate(20px, 0px);
	-o-transform: translate(20px, 0px);
	transform: translate(20px, 0px);
}
.translate2:hover img,.translate2:focus img{
	-webkit-transform: translate(-20px, 0px);
	-moz-transform: translate(-20px, 0px);
	-o-transform: translate(-20px, 0px);
	transform: translate(-20px, 0px);
}
.count {text-align:center;}
.sakla{display: none !important;visibility:hidden !important;}
.pointed{cursor:hand; cursor:pointer;}
.uyari,.error{color:#c80000;}
label.error{width:auto; float:none; margin-left:10px;}
.clear{clear:both; float: none;}
.mod { zoom: 1;}
.mod:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
details summary .dc{
	float:left; 
	text-align:left; 
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition:all 1s ease;
	transition:all 1s ease;
}
details summary .dc:hover
{
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.4);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.4);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=0, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=0, Color='#000000');
	box-shadow: 0px 0px 10px rgba(0,0,0,.4);
}
.bar {margin-top: -15px;}
.escBlue{ background: url(../images/sprite-main.png) no-repeat top left; background-position: 0 -1227px; width: 16px; height: 16px;}
/* Arama */
#sf { text-align:center;position: relative;}
#sf section label{ float:none; }
#sf ol{
	margin:10px auto;
	height:19px;
	position:relative;
	list-style-type: none; 
	width:90px;
}
#sf li{
	background:url("/main/images/icons.png") no-repeat;
	float:left;
	height:19px;
	text-indent:-99999px;
	margin-right:5px;
	margin-left:0px;
}
#sf li.web{ width:15px;}
#sf li.web.active,li.web:hover,li.web:focus{ background-position:left bottom;}
#sf li.images{ width:22px; background-position:-18px 0;}
#sf li.images.active,li.images:hover,li.images:focus{ background-position:-18px bottom;}
#sf li.news{ width:14px; background-position:-44px 0;}
#sf li.news.active,li.news:hover,li.news:focus{ background-position:-44px bottom;}
#sf li.videos{ width:17px; background-position:right 0;}
#sf li.videos.active,li.videos:hover,li.videos:focus{ background-position:right bottom;}
span.aa{
	width:11px;
	height:6px;
	margin:21px 0 0 5px;
	position:absolute;
	background:url('/main/images/arrow.png') no-repeat;
	left:0;
}
p.notf{
	padding:40px 0;
	text-align:center;
}
.wr{ 
	border-top:1px solid #000000;
}
.wr b{ color:#C80000; }
.ir{
	float:left;
	height:180px;
	margin: 0px 0px 10px;
	text-align:center;
	width:145px;
}
.ir img{ display:block; border:none; height:150px; width:145px;}
.ir a.pic{
	border:1px solid #fff;
	outline:1px solid #777;
	display:block;
}
#sf {margin-bottom:15px;}
.skip{	position: absolute;	left: -99999px;	}
/* JS Promote */
#jspro > div{
	width: 130px;
	position: relative;
	height: 180px;
	margin: 0px auto; 
	-webkit-transition: all 1s;	
	-moz-transition: all 1s;
	transition: all 1s;	
	-webkit-perspective: 500;
	cursor:pointer;
}
#jspro > div:hover {
   	-webkit-transform: rotateY(180deg);
   	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
   	transform: rotateY(180deg);   	   	
}
#jspro > div > div {
	position:absolute; 
	width:100%; 
	height:100%;
	top:0; 
	left:0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
#jspro > div > div:first-child{z-index:2;}
#jspro > div:hover > div:first-child{opacity: 0; }
#jspro > div:hover div:last-child {
   	-webkit-transform: rotateY(180deg);
   	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
   	transform: rotateY(180deg);
}
#jspro > div > div img {width:100%; height:100%;}
#jspro > div > div > h5 {
	font-size: 19px;
	display: -moz-box;
	display: -webkit-box;
	display: box;
	-moz-box-orient: horizontal; /* the default, so not really necessary here */
	-webkit-box-orient: horizontal;
	box-orient: horizontal;
	-moz-box-pack: center;
	-moz-box-align: center;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	box-pack: center;
	box-align: center;
	height: 100%;
	line-height: 60px;
}
/*-------------------------------
Footer
---------------------------------*/
footer {position: relative;width:100%;overflow:hidden;background: url(../images/fbg.jpg) repeat-x;}
footer section {width:1000px;height:63px;margin:0px auto;position:relative;background: url(../images/footer.jpg) no-repeat;}
footer small {position:absolute;left:0;padding:30px 0 0;font-size:9px;color:#808285;}
footer #dryicon {position:absolute;right: 0;padding:30px 135px 20px 0;font-size:9px;color:#808285;text-decoration:none;}
/* Shine */
.large_thumb	{
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
	float:left; 
	position: relative;
	height: 100%; 
	width: 100%;
	margin-left:0; 
	margin-top:0;
}
.large_thumb img	{height: 62px;left: 0px;position: absolute;top: 1px;width: 63px;}
.large_thumb_border	{width:64px; height:64px; background:url('../images/thumb_border.png'); position:absolute; }
.large_thumb_shine	{
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-o-transition:all 0.7s ease;
	transition:all 0.7s ease;
	width:54px; 
	height:54px; 
	background:url('../images/shine.png'); 
	position:absolute; 
	background-position:-150px 0; 
	left:5px; 
	top:4px;
	background-repeat:no-repeat;
}
.thumb_container { width:64px; height:64px; background-image:url('../images/thumb_holder.png'); float: left;}
.thumb_container:hover .large_thumb {margin-left:-7px; margin-top:-7px; }
.thumb_container:hover .large_thumb_shine{background-position:99px 0;}
/* ------------------------------
Menu
------------------------------ */
#container menu{position: absolute; top:142px; left:0;}
#log{float:right;}
#container menu ul{
	list-style:none;
	position:relative;
	margin:30px 0px 0px;
	float:left;
	clear:both;
}
#container menu li{
	width:112px;
	height:101px;
	padding-bottom:2px;
	float:left;
	position:relative;
}
#container menu a{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition:all 1s ease;
	transition:all 1s ease;
	display:block;
	color:#aaa;
	text-decoration:none;
	font-weight:bold;
	font-size:12px;
	width:90px;
	height:20px;
	padding:10px;
	margin:5px 1px 1px;
	text-shadow:0px 0px 1px #000;
	opacity:0.8;
}
#container menu a:hover,#container .oes a,.oes2 a{
	color:#000;
	background:#fff;
	opacity:1.0;
}
#container .oeho a{text-shadow:0px 0px 1px #FFF;}
/* ------------------------------
Tur
------------------------------ */
.tt{
	position:absolute;
	width:250px;
	left:0;
	top:0;
	background-color:black;
	color:white;
	z-index:1000;
	border:2px solid #000;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.tt p{	padding:10px;	font-size:14px;	text-shadow:none;	font-style:italic;}
.to{
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background:#000;
	opacity:0.5;
	z-index:998;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
#tc{
	float: right;
	height: 100px;
	position: relative;
	right: 30px;
	top: -80px;
	width:270px;
	background:#000;
	color:#fff;
	text-shadow:0px 0px 1px #fff;
	font-size:16px;
	padding:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	font-weight:bold;
	z-index:101;
}
#tc.tcb{ position:fixed; top:10%; left:40%; z-index:999; }
#tc a{
	font-size:11px;
	color:#f0f0f0;
	cursor:pointer;
	font-weight:normal;
	text-decoration:underline;
	margin:10px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition:all 1s ease;
	transition:all 1s ease;
}
#tc a:hover,#tc a:focus{color:#fff;}
#ct{
	position:absolute;
	top:6px;
	right:7px;
	background: url(../images/sprite-main.png) no-repeat top left; 	/*.escBlue*/
	background-position: 0 -1227px; 
	width: 16px; 
	height: 16px;
	cursor:pointer;
}
#tc p{	padding:10px;}
.tb{
	white-space: nowrap;
	float:left;
	margin:10px 0px 10px 10px;
	cursor:pointer;
	background: #c63929;
	background: -moz-linear-gradient(0% 100% 90deg, #891100 0%, #B51700 50%, #c63929 50%, #EE432E 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #ee432e), color-stop(0.5, #c63929), color-stop(0.5, #b51700), color-stop(1, #891100));
	border: 1px solid #951100;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
	box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 1;
	padding:6px 7px;
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
}
.tb:hover {
	background: #cb0500;
	background: -moz-linear-gradient(0% 100% 90deg, #a20601 0%, #cb0500 50%, #db504d 50%, #f37873 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #f37873), color-stop(0.5, #db504d), color-stop(0.5, #cb0500), color-stop(1, #a20601));
}
.tb:active{
	background: #b30300;
	background: -moz-linear-gradient(0% 100% 90deg, #700d00 0%, #9c1500 50%, #ad3224 50%, #d43c28 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #d43c28), color-stop(0.5, #ad3224), color-stop(0.5, #9c1500), color-stop(1, #700d00));
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
	box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
}
.nav{	clear:both;	width:100%;	float:left;}
.tta{	position:absolute;	background-color:transparent;	background-repeat:no-repeat;}
.tta_T,.tta_B,.tta_TL,.tta_TR,.tta_BL,.tta_BR{
	background-image:url(/main/images/topbottom.png);
	width:13px;
	height:7px;
}
.tta_L,.tta_R,.tta_LT,.tta_LB,.tta_RT,.tta_RB{
	background-image:url(/main/images/leftright.png);
	width:7px;
	height:13px;
}
.tta_T{
	background-position:0px -7px;
	top:-7px;
	left:50%;
	margin-left:-3.5px;
}
.tta_TL{
	background-position:0px -7px;
	top:-7px;
	left:5px;
}
.tta_TR{
	background-position:0px -7px;
	top:-7px;
	right:5px;
}
.tta_B{
	background-position:0px 0px;
	bottom:-7px;
	left:50%;
	margin-left:-3.5px;
}
.tta_BL{
	background-position:0px 0px;
	bottom:-7px;
	left:5px;
}
.tta_BR{
	background-position:0px 0px;
	bottom:-7px;
	right:5px;
}
.tta_L{
	background-position:-7px 0px;
	top:50%;
	margin-top:-6.5px;
	left:-7px;
}
.tta_LT{
	background-position:-7px 0px;
	top:5px;
	left:-7px;
}
.tta_LB{
	background-position:-7px 0px;
	bottom:5px;
	left:-7px;
}
.tta_R{
	background-position:0px 0px;
	top:50%;
	margin-top:-6.5px;
	right:-7px;
}
.tta_RT{
	background-position:0px 0px;
	top:5px;
	right:-7px;
}
.tta_RB{
	background-position:0px 0px;
	bottom:5px;
	right:-7px;
}
/* ------------------------------
Bounce Box
------------------------------ */
#bounceb{	max-height:340px;	width:400px; z-index:99998;}
#bounceb img,#bouncek{	bottom:0px;	position:absolute;	right:0;}
/* ------------------------------
Twitter Arama Kutucuğu
------------------------------ */
.twitter_search{ height: 15px; padding-left:20px; background: url(../images/sprite-main.png) no-repeat top left;  background-position: -179px -497px; cursor:pointer; }
.twitterSearchClose{
	position:absolute;
	right:0px;
	top:0px; 
	background: url(../images/sprite-main.png) no-repeat top left; 
	background-position: -1px -1227px;			/* ESC */
	width:13px;
	height:13px;
	cursor:pointer;
}
.ui-resizable {position:absolute !important;}
.search_results {width: 300px;	position:absolute;	display:none; z-index:10;}
/* ------------------------------
Tepe
------------------------------ */
#hsec {
	color:#fff;
	position:absolute;
	top:-100px;
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack:justify;
	-webkit-box-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-orient: horizontal;
	-moz-box-align: center;
	-moz-box-pack:justify;
	-moz-box-sizing: border-box;
	box-orient: horizontal;
	box-pack:justify;
	box-align: center;
	box-sizing: border-box;
	height: 45px;
	margin: 0;
	padding: 0 10px;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	z-index:1000;
}
#hsec .headerButton{	 
	padding: 0px 10px;
	position: absolute;
	right: 10px;
	top: 5px;
	text-decoration: none;
	text-align:center;
	display: block;
	border: solid 1px #525252;
	height: 32px;
	font: normal 14px/32px "Segoe UI", Arial, Sans-serif;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	color: #000;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#65a5ed", endColorstr="#aeeaff");
	background: #65a5ed;
	background: -moz-linear-gradient(
		center bottom,
		rgb(150,238,255) 11%,
		rgb(131,178,229) 41%,
		rgb(85,155,229) 54%,
		rgb(194,204,234) 94%
	);
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.11, rgb(150,238,255)),
		color-stop(0.41, rgb(131,178,229)),
		color-stop(0.54, rgb(85,155,229)),
		color-stop(0.94, rgb(194,204,234))
	);
	background: linear-gradient(top, #65a5ed, #aeeaff);
	-moz-box-shadow: 0 0 4px #000;
	-webkit-box-shadow: 0 0 4px #000;
	box-shadow: 0 0 4px #000;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	outline: none;
}
.headerButton:hover {
	border-color: #000062;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#dbdbdb', EndColorStr='#FFFFFF')";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dbdbdb", endColorstr="#ffffff");
	background: #dcdcdc;
	background: -moz-linear-gradient(
		center bottom,
		rgb(255,255,255) 0%,
		rgb(214,214,214) 50%,
		rgb(235,235,235) 71%,
		rgb(248,248,248) 85%
	);
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(255,255,255)),
		color-stop(0.5, rgb(214,214,214)),
		color-stop(0.71, rgb(235,235,235)),
		color-stop(0.85, rgb(248,248,248))
	);
	background: linear-gradient(top, #dbdbdb, #fff);
	-moz-box-shadow: 0 0 6px #000;
	-webkit-box-shadow: 0 0 6px #000;
	box-shadow: 0 0 6px #000;
} 
.headerButton:active
{
	-moz-box-shadow: 0 0 2px #000;
	-webkit-box-shadow: 0 0 2px #000;
	box-shadow: 0 0 2px #000;
}
/* ------------------------------
breadcrumb
------------------------------ */
.brec { 
	list-style: none; 
	overflow: hidden; 
	font: 18px Helvetica, Arial, Sans-Serif;
	position: absolute;
	top: 345px;
}
.brec li { float: left; }
.brec li a {
	color:white;
	text-decoration: none; 
	padding: 10px 0 10px 55px;
	background: #004080;                   /* fallback color */
	background: hsla(210,100%,15%,1); 
	position: relative; 
	float: left;
	-webkit-transition: all 0s ease;
	-moz-transition: all 0s ease;
	-o-transition:all 0s ease;
	transition:all 0s ease;
}
.brec li a:after { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid hsla(210,100%,15%,1);
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	left: 100%;
	z-index: 2; 
}	
.brec li a:before { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid white;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	margin-left: 1px;
	left: 100%;
	z-index: 1; 
}	
.brec li:first-child a {padding-left: 10px;}
.brec li:nth-child(2) a       { background:        hsla(210,100%,25%,1); }
.brec li:nth-child(2) a:after { border-left-color: hsla(210,100%,25%,1); }
.brec li:nth-child(3) a       { background:        hsla(210,100%,35%,1); }
.brec li:nth-child(3) a:after { border-left-color: hsla(210,100%,35%,1); }
.brec li:nth-child(4) a       { background:        hsla(210,100%,45%,1); }
.brec li:nth-child(4) a:after { border-left-color: hsla(210,100%,45%,1); }
.brec li:nth-child(5) a       { background:        hsla(210,100%,55%,1); }
.brec li:nth-child(5) a:after { border-left-color: hsla(210,100%,55%,1); }
.brec li:nth-child(6) a       { background:        hsla(210,100%,65%,1); }
.brec li:nth-child(6) a:after { border-left-color: hsla(210,100%,65%,1); }
.brec li:nth-child(7) a       { background:        hsla(210,100%,75%,1); }
.brec li:nth-child(7) a:after { border-left-color: hsla(210,100%,75%,1); }
.brec li:nth-child(8) a       { background:        hsla(210,100%,85%,1); }
.brec li:nth-child(8) a:after { border-left-color: hsla(210,100%,85%,1); }
.brec li:nth-child(9) a       { background:        hsla(210,100%,95%,1); }
.brec li:nth-child(9) a:after { border-left-color: hsla(210,100%,95%,1); }
.brec li:last-child a {
	background: transparent !important;
	color: #C80000;
	pointer-events: none;
	cursor: default;
}
.brec li:last-child a:after { border: 0; }
.brec li a:hover,.brec li a:focus { background: hsla(210,100%,25%,1); }
.brec li a:hover:after,.brec li a:focus:after { border-left-color: hsla(210,100%,25%,1) !important; }
